/****************************************************************
    GENERAL 
*****************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
    font-weight: 400;
    font-size: 14px;
}

body{ 
    height: 100vh;
    background: linear-gradient(
        to bottom, 
        #32a093 0%, 
        #32a093 15%, 
        #dbe0dd 15%, 
        #dbe0dd 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************************************************************
    UTILITIES 
*****************************************************************/
/* HEADER STYLE */
.style-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 13px;
}
.style-header .user{
    display: flex;
    align-items: center;
}

/* HEADER MENU */
.menu ul{
    display: flex;
    justify-content: space-between;
    width: 80px;
    list-style-type: none;
    margin-right: 10px;
}
.menu a{
    color: #bababa;
    transition: color 0.2s;
}
.menu a:hover{
    color: #969696;
}

/* IMAGE COVER CONTACT */
.contact-image-cover {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-image-cover {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/****************************************************************
    LAYOUT 
*****************************************************************/
/*----------------------------------------
    CONTAINER
-----------------------------------------*/
.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
    display: flex;
}

/*----------------------------------------
    ASIDE
-----------------------------------------*/
.aside{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    background:#fff;
}

/* NOTIFICATION */
.aside .notifications{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 13px;
    background: #a2dffe;
}
.notifications .bell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background: #fff;
    color: #a2dffe;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notifications .bell i{
    font-size: 20px
}

.message-notifications {
    display: flex;
    flex-direction: column;
}
.active-notifications {
    margin-top: 5px;
    font-size: 0.8rem;
    color: rgba(0,0,0, 0.6);
    text-decoration: underline;
    cursor: pointer;
}


/* SEARCH */
.aside .search{
    display: flex;
    height: 50px;
    background: #f7f7f7;
    padding: 5px;
}
.aside .search input{
    position: relative;
    flex-grow: 1;
    border: 0.8px solid #f1f1f1;
    outline: none;
    padding-left: 70px;
    color: rgb(201, 201, 201);
    line-height: 100%;
    font-size: 13px;
}
.aside .wrap{
    position: relative;
}
.aside .wrap::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f002";
    color: #bec1c3;
    z-index: 1;
    
}

/* CONTACT */
.contacts-container .contact {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 20px;
    transition: background 0.3s;
    cursor: pointer;
}

.contacts-container .contact:hover{
    background: #f0f0f0;
}


/*----------------------------------------
    CONTENT
-----------------------------------------*/
.content{
    flex-basis: 65%;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.content-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
}
.content-header,
.content-footer{
    padding: 25px;
    background: #f4f0ed;
}

/* CONTENT HEADER */
.content-header .user .selected-contact {
    display: flex;
    flex-direction:column;
}


.content-header .user .contact-last-access {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #7c8285;
}